.crd{
    height: 25rem !important;
}
.post-txt{
    color: #333333;
    text-align: justify;
    text-justify: kashida;
    height: 9rem;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
.post-body{
    padding: 0;
}
.color-pallate{
    height: 20vh;
    width: 100%;
    display: block;
    padding: 0;
    margin-top: 0px;
    box-shadow: 2px 2px 20px 2px lightgray;
}
.color-name{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    cursor: pointer;
}
.color-badge{
    position: absolute;
    left: 14px;
    padding-right: 1.6em !important;
    padding-left: 1.6em !important;
    font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .color-badge{
        top:130px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .color-badge{
        top:130px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
      .color-badge{
        top:130px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .color-badge{
        top:130px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .color-badge{
        top:148px;
    }
}