@import 'variables.scss';

.overlay{
        
   background-image: url("https://apifriends.com/wp-content/uploads/2018/12/GettyImages-936994928.jpgAPI-CALL-696x463.jpg"); 
    
.footer-container{
    font-weight: bold;
    color:$FONT_COLOR;
    font-family: $FONT_FAMILY;
    background-color: $PRIMARY;
    opacity: .9;
     height: 100%;
    color:#fff;

    }
    
    .footer-row{
        text-align: center;
        .col{
            padding-top:10px;
            padding-bottom:10px;
                      
        }
        .social{
            padding-left:60px;
            padding-right:60px;
            text-align: center;
        }
    }

.footer-row-1{
    padding-top:50px;
    input,button{
        border-radius: 0 0;
        height: 40px;
    }
 }

 .footer-row-2{
    .nav-link{
       color:#fff;
       
    }
    hr{
        width: 100%;
        margin:20px;
        border:1px solid;
    
    }
    .brand{
        color:#fff;
        font-size: 20px;
        
        span{
            font-size: 10px;
            margin-right:90px;
        }
    }
  
 }
.footer-row-1{
  
    i{
      padding:8px;
      font-size: 15px;
      border-radius: 0 0;
      border:1px solid #fff;
      margin-bottom:20px;
      margin-right:10px;
      
      &:hover{
        box-shadow: 0 0 20px 0 #fff;
        transform-origin: 10% 10%;
        transition: .3s;
         color:$PRIMARY;
         background-color: #fff;
    
        }
    }
}

}
.partner-logo{
    height:80px;
    width: 80px;
    background-color:#fff;
    display: inline-block;
    padding:10px;
    overflow: hidden;
    margin:5px;
     transition: 1s;
    &:hover{
           transform: scale(1.2,1.2);
           box-shadow: 5px 2px 20px 0px gray;
           transition: .4s;
     }

}
