@import 'variables.scss';

.navbar-bg{
    
    background-color: $PRIMARY !important;
    animation: myfirst .3s;
}

.navbar {
    font-weight: bold;
    transition: .4s ;
  
    .navbar-brand,.navbar-nav .nav-link{
        color:$FONT_COLOR;
    
        &:hover{
            color:$FONT_COLOR;
            transition: .4s;
        }
    }
    }

    @keyframes myfirst {
        0%   {
            margin-top:-40px;
            
        }
      }

// .navbar{
//     background-color:$PRIMARY;

    
// .navbar-toggler {
//         border: none;
//         background: transparent !important;
          
//    &.expanded{
//     .icon-bar:nth-child(2){
//         opacity:0;
//         transition: .5s;
//     }
//     .icon-bar:nth-child(1){
//         transform:rotate(45deg);
//         transform-origin: 10% 10%;
//         transition: .5;
//     }
//     .icon-bar:nth-child(3){
//        transform: rotate(-45deg);
//        transform-origin: 10% 10%;
//        transition: .5s;
//     }
// }        
    
//     }

    

//     .icon-bar {
//         width: 22px; 
//         height: 2px;
//         background-color:#fff;
//         display: block;
//         transition: all 0.2s;
//         margin-top: 4px;
//        }

//        .navbar-brand{
//         margin-left:0px;
             
//        }

       
//     .navbar-brand,.navbar-nav .nav-link{
//         color:$FONT_COLOR;
//         font-family: $FONT_FAMILY;    
//         display: inline;
//         padding-left:15px;
//     }
//    button,input{
//       margin: 0 auto;
//       border-radius:0 0;   
     
//     }
    


// }
// @media only screen and (max-width: 600px) {
//     .navbar  .login-cart {
//      display: none;  
// }
//   }



@media only screen and (max-width: 991px) {
        .navbar  {
            background-color: $PRIMARY;       
       
        } 
     
 }