@import './variables.scss';

.login-container{
    display: block;
    min-height: 100%;
    min-width: 100%;
    margin-top: 40px;
    background-color: $BG_COLOR;
}
.form-signin{
    .btn{
      background-color: $PRIMARY;
      border: 1px solid $PRIMARY;
    &:hover{
        background-color: #3333;
    }
     
}
}
