@import './variables.scss';


.card-container{
    padding-top:30px;
    padding-bottom:30px;
    margin:20px;
    max-width: 300px;
    min-width: 300px;
   
    
    &:hover{
        box-shadow: 0px 0px 5px 0px gray;
        opacity: 1;
    }
}
.user-card{
    border-radius:0 0;
    width: 100%;
    height: 190px;
    background-color: transparent !important;
    border:none;

    .card-body{
        transition: .3s;
        text-align:'center';
        color:#fff;
        opacity: .8;
       


        .card-img{
            height: 60px;
            width: 60px;
            position: relative;
            margin-top:-50px; 
            box-shadow: 0px 2px 20px 4px $PRIMARY;
             border:2px solid gray;
        }
        .card-data{
            .badge{
                margin:2px;
                background-color: transparent;
                border:1px solid $PRIMARY; 
            
                &:hover{
                    background-color: $PRIMARY;
                }
            }
            .card-title{
                color:#fff;
            }
            
        }
        

    }
   
    .card-footer{
        padding:0;
        margin:0;
        border:none;
       justify-content: flex-end;
        button{
          width: 100%;
          border:none;
          margin:0;
         }
    }

    }


.pointer {
    width: 200px;
    height: 20px;
    position: relative;
    background: $PRIMARY;
  }
  
  .pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $PRIMARY;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  @media only screen and (max-width: 600px) {

    .card-container{
        margin-top:100px;
        padding:0;
    }
}
    