
.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.btn{
  border-radius: 0 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.hero-section p {
 font-size: 15px;
}

.hero-section button{
  padding:10px;
  margin:10px;
  border-radius: 0 ;

}

.cloud{
  height:80px;
}

.cloud:nth-child(1){
  height:80px;
  position: relative;
  left:40px;
  top:140px;
  
  animation:cloud-anim infinite 1s ease-in-out;
}


.cloud:nth-child(2){
  height:80px;
  position: relative;
  left:-30px;
  top:40px;
  animation:cloud-anim infinite 2s ease-in-out;
  
}

.cloud:nth-child(4){
  height:80px;
  position: relative;
  left:-100px;
  top:-100px;
  animation:cloud-anim infinite 3s ease-in-out;
 
}

.cloud:nth-child(5){
  height:80px;
  position: relative;
  left:-0px;
  top:-160px;
  animation:cloud-anim infinite 2s ease-in-out;
}
.rocket {
   height:150px;
   width: 100px;
  animation:yourAnimation1 infinite 4s linear;
  }
  .rocket .path ,.p1,.p2,.p3,.p4,.p5,.p6,.p7,.p8{
    animation:fade infinite 3s linear;
  }

  svg .path,.p9 .p10,.p11,.p12,.p13,.p14,.p15,.p16{
    animation:fade-out infinite 1s linear;
  }
  @keyframes fade{
    0%{
        transform-origin: 70% 70%;
        opacity: 0;
        }
    30%{
        transform-origin: 70% 70%;
        opacity: .2;
        }
    63%{
        transform: rotate(xx);
        transform-origin: 70% 70%;
        opacity: .4;
        }
    87%{
        transform: rotate(xx);
        transform-origin: 70% 70%;
        opacity: .2;
        }
    100%{
        transform: rotate(xx);
        transform-origin: 70% 70%;
        opacity: 0;
        }
}

@keyframes fade-out{
  0%{
      transform-origin: 70% 70%;
      opacity: 4;
      }
  30%{
      transform-origin: 70% 70%;
      opacity: .2;
      }
  63%{
      transform: rotate(xx);
      transform-origin: 70% 70%;
      opacity: .0;
      }
  87%{
      transform: rotate(xx);
      transform-origin: 70% 70%;
      opacity: .2;
      }
  100%{
      transform: rotate(xx);
      transform-origin: 70% 70%;
      opacity: .4;
      }
}


@keyframes yourAnimation1{
  0%{
      transform: translateY(0px);
      }
  50%{
      transform: translateY(-15px);
      }
  100%{
      transform: rotate(xx) translateY(0px);
      }
}

@keyframes yourAnimation2{
  0%{
      transform: translateY(-40px);
      }
  51%{
      transform: translateY(0);
      }
  100%{
      transform: rotate(xx) translateY(40px);
      }
}

@keyframes cloud-anim{
  0%{
      opacity: 0;
      }
  25%{
      opacity: 0.5;
      }
  50%{
      opacity: 1;
      }
  75%{
      opacity: .5;
      }
  100%{
      transform: rotate(xx);
      opacity: 0;
      }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
